{% extends "frame/tabpages.html" %}
{% block content %}
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5" id="id_searchOrderForm">
                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="text" name="filter_orderid" placeholder="订单号" class="layui-input"></div>

                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="text" name="filter_customer" placeholder="客户名称" class="layui-input"></div>

                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="text" name="filter_contact" placeholder="联系人" class="layui-input"></div>

                            <div class="layui-input-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="下单日期" name="filter_orderdate" id="id_orderdate"></div>

                            <div class="layui-inline layui-show-xs-block xxxListButton">
                                <!--不能用button,如果使用button的话,会发送两次请求.
                                    button 的type button默认为type的值为submit,submit会默认提交一次,
                                    再加上js里的提交就会出现重复提交的问题,把type的值改为button就可以解决问题了-->
                                <!--button class="layui-btn"  data-type="reload" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button-->
                                <a class="layui-btn"  id="searchBtn" data-type="reload" lay-submit=""><i class="layui-icon">&#xe615;</i>查询</a>
                                <a class="layui-btn"  id="resetBtn" data-type="reset" lay-submit=""><i class="layui-icon">&#xe666;</i>重置</a>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body ">
                        <table id="id_orderlist" class="layui-table layui-form" lay-filter="f_orderlist"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "frame/searchBindMode.html" %}
</body>
{% endblock %}

{% block jsscript %}
<script type="text/html" id="toolbarOrderList">
    <div class="layui-btn-group xxxListButton">
        <a class="layui-btn layui-btn-danger" data-type="delAllChecked"><i class="layui-icon"></i>批量删除</a> 
        <a class="layui-btn" onclick="xadmin.open('添加订单','add',800,600)"><i class="layui-icon"></i>添加</a>
        <a class="layui-btn layui-btn-small" onclick="location.reload()" id= "id_refresh" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
</script>

<script type="text/html" id="toolbarOper">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
layui.use(['jquery','table', 'laydate'], function(){
    var table = layui.table;
    var laydate = layui.laydate;
    var $ = layui.$;

    laydate.render({
        elem: '#id_orderdate' //指定元素
    });

    table.render({
        elem: '#id_orderlist', 
        method: 'post',
        url: "{% url 'order:show_orderList' %}", //数据接口
        height: 'full-180',
        cellMinWidth: 50,
        page: true, //开启分页
        limit: 10,
        toolbar: '#toolbarOrderList',
        defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
            title: '提示',
            layEvent: 'LAYTABLE_TIPS',
            icon: 'layui-icon-tips',
            }],
        cols: [[ //表头
            {type: 'checkbox', width:'5%'},
            {type: 'numbers',   title: '序号',        width:'5%',  align:'center'},
            {field: 'orderid',  title: '订单编号',    width:'8%', align:'center', sort: true},
            {field: 'customer', title: '客户名称',   width:'8%', align:'center', sort: true},
            {field: 'contact',  title: '联系人',     width:'7%', align:'center', sort: true},
            {field: 'phone',    title: '联系方式',   width:'7%', align:'center', sort: true},
            {field: 'deposit',  title: '压金',       width:'5%',  align:'center', sort: true},
            {field: 'price',    title: '价格/日',    width:'7%',  align:'center', sort: true,
                templet: function(d){
                    return d.price + ' 元';
                }
            },
            {field: 'effectdays', title: '已租', width:'5%',  align:'center', sort: true, 
                templet: function(d){
                    return d.effectdays + ' 天';
                }
            },
            {field: 'balance',    title: '余额',     width:'7%',  align:'center', sort: true},
            {field: 'comment',    title: '备注',                  align:'center', sort: true},
            {field: 'orderdate',  title: '下单时间', width:'7%', align:'center', sort: true},
            {title: '操作', toolbar: '#toolbarOper', width:'10%', align:'center'}
        ]],
        done:function(){
            $("table").css("width","100%");
        }
    });  

    table.on('tool(f_orderlist)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('确定要删除?', function(index){
                $.ajax({
                    type:'post',
                    url:"{% url 'order:show_orderDel' 0 %}".replace('0', data.id),
                    data:{},
                    success:function(res){
                        if (res.code == 0)
                        {
                            layer.msg("删除成功!");
                            obj.del();
                            layer.close(index);
                        }

                    },
                    error:function(res)
                    {
                        layer.msg("删除失败!");
                    }
                });
            });
        } else if(obj.event === 'edit'){
            uri = obj.data.id + '/update'; 
            xadmin.open('编辑用户',uri,600,400);
        }

    });

    active = {
        delAllChecked: function(){ //获取选中数据
            var checkStatus = table.checkStatus('id_orderlist');
            data = checkStatus.data;
            data.forEach((item, index, array)=>{
                $.ajax({
                    type:'post',
                    url:"{% url 'order:show_orderDel' 0 %}".replace('0', item.id),
                    data:{},
                    success:function(res){
                        if (res.code == 0)
                        {
                            layer.msg("删除成功!");
                            location.reload();
                        }
                    },
                    error:function(res)
                    {
                        layer.msg("删除失败!");
                    }
                });
            })
        },
        reload: function(){
            table.reload('id_orderlist', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                   filter_orderid: $("input[name=filter_orderid]").val(),
                   filter_customer: $("input[name=filter_customer]").val(),
                   filter_contact: $("input[name=filter_contact]").val(),
                   filter_phone: $("input[name=filter_phone]").val(),
                   filter_orderdate: $("input[name=filter_orderdate]").val()
                }
            });
        },
        reset: function(){
            $("#id_searchOrderForm")[0].reset();
            $("#id_refresh").click();
        }
    };

    $('.xxxListButton .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });
});
</script>
{% endblock %}
