{% extends "frame/tabpages.html" %}
{% block content %}
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" id="id_addOrderForm">
                <div class="layui-form-item">
                    <label for="id_orderid" class="layui-form-label">
                        <span class="x-red">*</span>订单编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="id_orderid" name="orderid" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="id_customer" class="layui-form-label">
                        <span class="x-red">*</span>客户名称</label>
                    <div class="layui-input-inline">
                        <select name="customer">
                            <option value="">请选择<option>
                            {% for customer in customers %}
                            <option value="{{customer.id}}">{{customer.customer}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="id_contact" class="layui-form-label">
                        <span class="x-red">*</span>收货人</label>
                    <div class="layui-input-inline">
                        <input type="text" id="id_contact" name="contact" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="id_phone" class="layui-form-label">
                        <span class="x-red">*</span>手机</label>
                    <div class="layui-input-inline">
                        <input type="text" id="id_phone" name="phone" required="" lay-verify="phone" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="id_deposit" class="layui-form-label">
                        <span class="x-red">*</span>压金</label>
                    <div class="layui-input-inline">
                        <input type="text" id="id_deposit" name="deposit" placeholder="单位:元" required="" lay-verify="number" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="id_price" class="layui-form-label">
                        <span class="x-red">*</span>费用/日</label>
                    <div class="layui-input-inline">
                        <input type="text" id="id_price" name="price" required="" lay-verify="number" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="id_orderdate" class="layui-form-label">
                        <span class="x-red">*</span>下单日期</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" id="id_orderdate" name="orderdate" lay-verify="date"></div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="id_comment" class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="id_comment" name="comment" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
                    <button class="layui-btn" lay-filter="continue" lay-submit="">增加后继续</button>
                </div>
    </form>
    </div>
    </div>
</body>
{% endblock %}

{% block jsscript %}
<script>
    layui.use(['laydate', 'form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
        laydate = layui.laydate,
        layer = layui.layer;
        
        laydate.render({
            elem: '#id_orderdate'
        });
        
        //监听提交
        form.on('submit(add)',
        function(data) {
            $.ajax({
                type:'post',
                url:"{% url 'order:show_orderAdd' %}",
                data:data.field,
                success:function(res){
                    if (res.code == 0)
                    {
                       // layer.alert("添加成功", {icon: 6},function() {
                            xadmin.close();//关闭当前frame
                            xadmin.father_reload();// 可以对父窗口进行刷新 
                        //});
                        layer.msg("添加失败.");
                    }
                },
                error:function(res)
                {
                    layer.msg("添加失败.");
                }
            });
                       
            return false;
        });

        form.on('submit(continue)',
        function(data) {
            $.ajax({
                type:'post',
                url:"{% url 'order:show_orderAdd' %}",
                data:data.field,
                success:function(res){
                    if (res.code == 0)
                    {
                        layer.msg("添加成功,继续添加下一个.");
                        $("#id_addOrderForm")[0].reset();
                    }
                },
                error:function(res)
                {
                    layer.msg("添加失败.");
                }
            });
                       
            return false;
        });
    });
</script>
{% endblock %}
