{% extends "frame/tabpages.html" %}
{% block content %}
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body layui-table-body layui-table-main">
                        <table id="id_customerlist" class="layui-table layui-form"  lay-filter="f_customerlist"></table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
{% endblock %}

{% block jsscript %}
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="xadmin.open('添加用户','add',600,400)"><i class="layui-icon"></i>添加</button>
  </div>
</script>

<script type="text/html" id="barOper">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table'], function(){
        var table = layui.table;

        table.render({
            elem: '#id_customerlist', 
            method: 'post',
            url: "{% url 'customer:show_customerList' %}", //数据接口
            height: 'full-180',
            page: true, //开启分页
            limit: 10,
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips',
                }],
            cols: [[ //表头
                {type:'checkbox'},
                {type:'numbers', title: 'ID', field: 'id', width: 100, align:'center'},
                {field: 'customer', title: '客户名称', align:'center', sort: true},
                {field: 'contact',  title: '联系人',   align:'center', sort: true},
                {field: 'phone',    title: '联系电话', align:'center', sort: true},
                {field: 'created',  title: '添加时间', align:'center', sort: true},
                {title: '操作', toolbar: '#barOper',   align:'center'}
            ]]
        });  
        
        table.on('tool(f_customerlist)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                  obj.del();
                  layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });
    });

    layui.use(['form'], function(){
        var form = layui.form;
        
        // 监听全选
        form.on('checkbox(checkall)', function(data){
            if(data.elem.checked){
              $('tbody input').prop('checked',true);
            }else{
              $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        }); 
    });

    function delAll (argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
               ids.push($(this).val())
            }
        });

        layer.confirm('确认要删除吗？'+ids.toString(),function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
{% endblock %}
