{% extends "frame/tabpages.html" %}
{% block content %}
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5" action="{% url 'customer:show_customerList' %}" method="post">{% csrf_token %}
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" type="text" name="filter_customer"  placeholder="客户名称" id="id_customer">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" type="text" name="filter_contact" placeholder="联系人" id="id_contact">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" type="text" name="filter_phone" placeholder="联系电话" id="id_phone">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="hidden" name="search" id="id_page" value="1">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body layui-table-body layui-table-main">
                        <table id="id_customerlist" class="layui-table layui-form"  lay-filter="f_customerlist"></table>
                        <table id="id_customerlist1" class="layui-table layui-form"  lay-filter="f_customerlist1"></table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
{% endblock %}

{% block jsscript %}
<script type="text/html" id="toolbarCustomerList">
    <div class="layui-btn-group customerListTable">
        <button class="layui-btn layui-btn-danger" data-type="delAllChecked"><i class="layui-icon"></i>批量删除</button> 
        <button class="layui-btn" onclick="xadmin.open('添加用户','add',600,400)"><i class="layui-icon"></i>添加</button>
    </div>
</script>

<script type="text/html" id="toolbarOper">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table'], function(){
        var table = layui.table;

        table.render({
            elem: '#id_customerlist', 
            method: 'post',
            url: "{% url 'customer:show_customerList' %}", //数据接口
            height: 'full-180',
            page: true, //开启分页
            limit: 10,
            toolbar: '#toolbarCustomerList',
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips',
                }],
            cols: [[ //表头
                {type: 'checkbox', templet:function(row){
                    var html = "<input type='checkbox' name='layTableCheckbox' lay-skin='primary' lay-filter='checkboxIsSelected' class='checkboxIsSelected' value='{{customer.pk}}'> "; 
                    return html;
                    }
                },
                {type: 'numbers', title: 'ID',width: 100, align:'center'},
                {field: 'customer', title: '客户名称', align:'center', sort: true},
                {field: 'contact',  title: '联系人',   align:'center', sort: true},
                {field: 'phone',    title: '联系电话', align:'center', sort: true},
                {field: 'created',  title: '添加时间', align:'center', sort: true},
                {title: '操作', toolbar: '#toolbarOper',   align:'center'}
            ]]
        });  
        
        table.on('tool(f_customerlist)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定要删除?', function(index){
                    $.ajax({
                        type:'post',
                        url:"{% url 'customer:show_customerDel' 0 %}".replace('0', data.id),
                        data:{},
                        success:function(res){
                            if (res.code == 0)
                            {
                                layer.msg("删除成功!");
                                obj.del();
                                layer.close(index);
                            }

                        },
                        error:function(res)
                        {
                            layer.msg("删除失败!");
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                uri = obj.data.id + '/update'; 
                xadmin.open('编辑用户',uri,600,400);
            }

        });

        var $ = layui.$, active = {
            delAllChecked: function(){ //获取选中数据
                var checkStatus = table.checkStatus('id_customerlist');
                data = checkStatus.data;
                data.forEach((item, index, array)=>{
                    $.ajax({
                        type:'post',
                        url:"{% url 'customer:show_customerDel' 0 %}".replace('0', item.id),
                        data:{},
                        success:function(res){
                            if (res.code == 0)
                            {
                                layer.msg("删除成功!");
                                location.reload();
                            }
                        },
                        error:function(res)
                        {
                            layer.msg("删除失败!");
                        }
                    });
                })
            }
        };
  
        $('.customerListTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });


</script>
{% endblock %}
